* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    background: linear-gradient(to right, #03001e, #7303c0, #ec38bc);

}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: transparent;
    z-index: 100;
}
.logo {
    padding-top: 15px;
    padding-left: 80px;
    font-family: 'Poppins', sans-serif;
    color: wheat;
    font-size: 1.5rem;
    cursor: default;
}
.box{
    display: flex;
    justify-content: center;
}
.maintainance{ 
    margin-top: 42vh;
    display: inline-flex;
    padding: 12px 28px;
    background: 000000;
    border-radius: 15px;
    font-size: 25px;
    color: #f1f1f1;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
}

footer{
    position: fixed;
    width: 100%;
    bottom: 0;
    background: #0e0e1a;
    text-align: center;
    color: gray;
    padding: 12px 0;
}

@media screen and (max-width: 500px){
    .logo{
        padding-left: 30px;
    }
    .maintainance{
        margin-top: 350px;
        margin-left: 30px;
        margin-right: 30px;
    }
}