* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    background-color: rgb(4, 21, 43);
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: transparent;
    z-index: 100;
}
.logo {
    padding-top: 20px;
    padding-left: 150px;
    font-family: 'Poppins', sans-serif;
    color: wheat;
    font-size: 1.5rem;
    cursor: default;
}
.box{
    display: flex;
    justify-content: center;
}
.maintainance{ 
    margin-top: 42vh;
    display: inline-flex;
    padding: 12px 28px;
    background: rgb(68, 151, 202);
    border: 1px solid rgb(68, 151, 202);
    border-radius: 15px;
    font-size: 25px;
    color: rgb(12, 49, 96);
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    box-shadow: 0px 0px 20px 3px rgb(0, 0, 0);
}

footer{
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: #0e0e1a;
    text-align: center;
    color: gray;
    padding: 12px 0;
}

@media screen and (max-width: 500px){
    .maintainance{
        margin-top: 350px;
        margin-left: 30px;
        margin-right: 30px;
    }
}