* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    background: url(bg.jpg);
    background-size: cover;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: transparent;
    z-index: 100;
}
.logo {
    padding-top: 8px;
    padding-left: 40px;
    color: khaki;
    font-size: 1.75rem;
    cursor: default;
}
.maintainance{ 
    margin-top: 250px;
    margin-left: 500px;
    display: inline-flex;
    padding: 12px 28px;
    background: darkgreen;
    border: 1px solid darkgreen;
    border-radius: 15px;
    font-size: 25px;
    color: lightgreen;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    box-shadow: 0px 0px 1px 2px lightgreen;
}

footer{
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: #0e0e1a;
    text-align: center;
    color: gray;
    padding: 12px 0;
}

@media screen and (max-width: 500px){
    .maintainance{
        margin-top: 350px;
        margin-left: 30px;
        margin-right: 30px;
    }
}
